<header class="bacs-header">
  <div class="container">
    <a class="logo" routerLink="/">
      <img
        alt="BaCS Logo"
        class="logo-img"
        height="35"
        width="100"
        ngSrc="https://bacs.space/s3/static/nginx/bacs_logo_large.svg"
      />
    </a>

    <nav class="nav">
      <a
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/locations"
        routerLinkActive="active"
      >
        Локации
      </a>
      <a routerLink="/reservations" routerLinkActive="active">Резервации</a>
      <a *ngIf="isAdmin | async" routerLink="/admin" routerLinkActive="active">Админка</a>
      <a *ngIf="isSuperAdmin" routerLink="/reports" routerLinkActive="active">Отчёты</a>
    </nav>

    <bacs-user-profile *ngIf="isAuthenticated"></bacs-user-profile>
  </div>
</header>
