<header class="bacs-header">
  <div class="container">
    <a routerLink="/" class="logo">
      <img
        alt="BaCS Logo"
        class="logo-img"
        ngSrc="https://bacs.space/s3/static/nginx/bacs_logo_large.svg"
        height="35"
        width="100"
      />
    </a>

    <nav class="nav">
      <a [routerLinkActiveOptions]="{ exact: true }" routerLink="/locations" routerLinkActive="active">Локации</a>
      <a routerLink="/reservations" routerLinkActive="active">Резервации</a>
      <a *ngIf="isAdmin" routerLink="/admin" routerLinkActive="active">Админка</a>
    </nav>

    <bacs-user-profile *ngIf="isAuthenticated"></bacs-user-profile>
  </div>
</header>
