<div class="photo-uploader">
  <div (click)="fileInput.click()" class="preview">
    <img [ngSrc]="src" alt="Фото" class="preview-img" height="600" priority width="800" />

    <button
      (click)="$event.stopPropagation(); fileInput.click()"
      class="change-btn"
      color="primary"
      mat-fab
      matTooltip="Заменить фото"
    >
      <mat-icon>photo_camera</mat-icon>
    </button>
  </div>

  <input #fileInput (change)="onChangeFile($event)" accept="image/*" hidden type="file" />
</div>
