<div class="cancel-dialog">
  <h2 class="dialog-title">Отмена резервации</h2>
  <p class="dialog-message">
    Вы уверены, что хотите отменить резервацию на
    <b>{{ data.reservation.from | date: 'd MMMM y, HH:mm' }}</b>
    –
    <b>{{ data.reservation.to | date: 'HH:mm' }}</b
    >?
  </p>

  <div class="dialog-actions">
    <button mat-button class="cancel-button" (click)="close()">Нет</button>
    <button mat-flat-button class="confirm-button" (click)="confirm()">Отменить</button>
  </div>
</div>
