<div class="profile" *ngIf="user">
  <button mat-button [matMenuTriggerFor]="menu" class="profile-button">
    <img class="avatar" [ngSrc]="user.picture ?? ''" width="32" height="32" alt="avatar" />
  </button>

  <mat-menu #menu="matMenu" class="custom-profile-menu">
    <div class="menu-container">
      <div class="user-block">
        <img class="avatar-large" [ngSrc]="user.picture ?? ''" width="64" height="64" alt="avatar" />
        <div class="info">
          <div class="name">{{ user.name }}</div>
          <div class="username">&#64;{{ user.username }}</div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="email-section">
        <div class="email" (click)="$event.stopPropagation()">
          <label class="email-label" for="emailInput">Email-адрес</label>
          <input
            [(ngModel)]="email" class="email-input"
            (ngModelChange)="onEmailChange($event)"
            id="emailInput"
            placeholder="Email"
            type="email"
          />
        </div>

        <mat-checkbox
          [(ngModel)]="enableEmailNotifications"
          (ngModelChange)="onEmailNotificationsChange($event)"
          (click)="$event.stopPropagation()"
          class="email-checkbox"
        >
          Присылать уведомления
        </mat-checkbox>
      </div>

      <mat-divider></mat-divider>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Выйти</span>
      </button>
    </div>
  </mat-menu>
</div>
