<div *ngIf="resource && location && reservation" class="reservation-card">
  <div class="image-wrapper">
    <img
      [ngSrc]="resource.imageUrl ?? NoImage"
      alt="{{ resource.name }}"
      class="reservation-image"
      height="160"
      priority
      width="240"
    />
  </div>

  <div class="reservation-content">
    <div class="reservation-header">
      <div class="location-name">
        {{ location.name + ', ' + resource.floor + ' этаж' }}
      </div>

      <div style="display: flex; align-items: center">
        <span
          [ngClass]="reservation.status === 'Cancelled' ? 'cancelled' : 'created'"
          class="reservation-status"
        >
          {{ reservation.status! | reservationStatus }}
        </span>

        <div class="reservation-actions">
          <button
            (click)="openCancelDialog()"
            *ngIf="isUpcoming"
            mat-icon-button
            matTooltip="Отменить"
          >
            <mat-icon color="warn">cancel</mat-icon>
          </button>

          <button
            (click)="openEditDialog()"
            *ngIf="isUpcoming"
            mat-icon-button
            matTooltip="Редактировать"
          >
            <mat-icon>edit</mat-icon>
          </button>

          <button
            (click)="openRepeatDialog()"
            *ngIf="canRepeat"
            mat-icon-button
            matTooltip="Повторить"
          >
            <mat-icon>repeat</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="location-address">
      <mat-icon class="icon">location_on</mat-icon>
      <a
        (click)="$event.stopPropagation()"
        [href]="location.address | address"
        rel="noopener"
        target="_blank"
      >
        {{ location.address }}
      </a>
    </div>

    <div class="details-two-column">
      <div class="column">
        <div class="detail">
          <mat-icon class="icon">calendar_today</mat-icon>
          {{ reservation.from | date: 'd MMM y' }}
        </div>
        <div class="detail">
          <mat-icon class="icon">schedule</mat-icon>
          {{ reservation.from | date: 'HH:mm' }} – {{ reservation.to | date: 'HH:mm' }}
        </div>
      </div>

      <div class="column">
        <div class="detail">
          <mat-icon class="icon">meeting_room</mat-icon>
          {{ resource.name }}
        </div>
        <div class="detail">
          <mat-icon class="icon">category</mat-icon>
          {{ resource.type | resourceType }}
        </div>
      </div>
    </div>
  </div>
</div>
