<div class="resource-list">
  <div class="resource-list-header">
    <div class="page-head">
      <h2>Ресурсы локации</h2>
      <span *ngIf="totalCount as n" class="count-badge">{{ n }}</span>
    </div>
    <button
      (click)="createResource()"
      class="submit-button add-resource-button"
      color="primary"
      mat-flat-button
    >
      <mat-icon>add</mat-icon>
      Добавить ресурс
    </button>
  </div>

  <div class="resource-list-content">
    <ng-container *ngFor="let resource of resources">
      <bacs-resource-card
        (deleteClick)="deleteResource(resource)"
        (editClick)="editResource(resource)"
        [editEnabled]="true"
        [resource]="resource"
        class="resource-card-clickable"
      ></bacs-resource-card>
    </ng-container>
  </div>
</div>
