<h2 class="dialog-title" mat-dialog-title>Удаление локации</h2>

<mat-dialog-content class="dialog-content">
  <p class="dialog-message">
    Вы уверены, что хотите удалить локацию <b>{{ data.location.name }}</b
    >?
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button (click)="close()" class="cancel-button" mat-button>Нет</button>
  <button
    (click)="confirm()"
    class="confirm-button"
    color="warn"
    mat-flat-button
    style="margin-left: 0 !important"
  >
    Удалить
  </button>
</mat-dialog-actions>
