<div class="location-card" *ngIf="location">
  <img
    [ngSrc]="location.imageUrl ?? NoImage"
    priority
    width="240"
    height="160"
    alt="{{ location.name }}"
    class="location-image"
  />

  <div class="location-info">
    <div class="location-header">
      <h2 class="location-title">{{ location.name }}</h2>

      <div class="location-actions">
        <button
          *ngIf="editEnabled && (isAdmin(location.id) | async)"
          (click)="$event.stopPropagation()"
          [routerLink]="['/admin/locations', location.id]"
          mat-icon-button
          matTooltip="Редактировать локацию"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <p class="location-address">
      <mat-icon class="icon">location_on</mat-icon>
      <a (click)="$event.stopPropagation()" [href]="location.address | address" rel="noopener" target="_blank">
        {{ location.address }}
      </a>
    </p>

    <div class="location-description-section">
      <mat-icon class="icon">info</mat-icon>
      {{ location.description || 'Описание отсутствует.' }}
    </div>

    <p class="location-schedule">
      <mat-icon class="icon">schedule</mat-icon>
      Время работы:
      {{ location.calendarSettings?.availableFrom | timeTrim }} -
      {{ location.calendarSettings?.availableTo | timeTrim }}
    </p>

    <p class="location-days">
      <mat-icon class="icon">calendar_today</mat-icon>
      Дни работы: {{ displayDays }}
    </p>
  </div>
</div>
