<div class="location-card" *ngIf="location">
  <button
    mat-icon-button
    class="edit-button"
    matTooltip="Редактировать локацию"
    [routerLink]="['/admin/locations', location.id]"
    (click)="$event.stopPropagation()"
  >
    <mat-icon>edit</mat-icon>
  </button>

  <img
    [ngSrc]="location.imageUrl ?? noImage"
    width="240"
    height="160"
    alt="{{ location.name }}"
    class="location-image"
  />
  <div class="location-info">
    <h2 class="location-title">{{ location.name }}</h2>

    <p class="location-address">
      <mat-icon class="icon">location_on</mat-icon>
      <a [href]="location.address | address" target="_blank" rel="noopener" (click)="$event.stopPropagation()">
        {{ location.address }}
      </a>
    </p>

    <div class="location-description-section">
      <mat-icon class="icon">info</mat-icon>
      {{ location.description || 'Описание отсутствует.' }}
    </div>

    <p class="location-schedule">
      <mat-icon class="icon">schedule</mat-icon>
      Время работы:
      {{ location.calendarSettings?.availableFrom | timeTrim }} -
      {{ location.calendarSettings?.availableTo | timeTrim }}
    </p>

    <p class="location-days">
      <mat-icon class="icon">calendar_today</mat-icon>
      Дни работы: {{ displayDays }}
    </p>
  </div>
</div>
