@use '../../../../assets/styles/_theme.scss' as *;

.bacs-footer {
  background-color: $bg-disabled;
  color: $text-extra;
  font-size: 0.85rem;
  padding: 16px 24px;
  flex: 0 0 auto;

  .container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    a {
      color: $text-extra;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
