<form [formGroup]="form" class="location-form">
  <bacs-image-uploader
    (fileSelected)="onFileSelected($event)"
    [src]="location.imageUrl ?? NoImage"
  ></bacs-image-uploader>

  <div class="form-fields">
    <mat-form-field appearance="outline" class="field">
      <mat-label>Название</mat-label>
      <mat-icon matPrefix>edit_location</mat-icon>
      <input formControlName="name" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Описание</mat-label>
      <mat-icon matPrefix>notes</mat-icon>
      <textarea formControlName="description" matInput rows="3"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Адрес</mat-label>
      <mat-icon matPrefix>place</mat-icon>
      <input formControlName="address" matInput />
    </mat-form-field>

    <div class="time-row">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Начало работы (UTC)</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <mat-select formControlName="availableFrom">
          <mat-option *ngFor="let time of utcTimeSlots" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Конец работы (UTC)</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <mat-select formControlName="availableTo">
          <mat-option *ngFor="let time of utcTimeSlots" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="field">
      <mat-label>Рабочие дни недели</mat-label>
      <mat-icon matPrefix>calendar_view_week</mat-icon>
      <mat-select formControlName="daysOfWeek" multiple>
        <mat-option *ngFor="let day of daysOfWeek" [value]="day">
          {{ day | dayOfWeek }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button
    (click)="location.id ? save() : create()"
    [disabled]="form.invalid"
    class="submit-button"
    color="primary"
    mat-flat-button
    type="submit"
  >
    Сохранить
  </button>

  <section class="admins-section">
    <h3>Администраторы локации</h3>

    <mat-chip-listbox *ngIf="admins.length; else noAdmins">
      <mat-chip *ngFor="let admin of admins">
        {{ admin.email }}
      </mat-chip>
    </mat-chip-listbox>

    <ng-template #noAdmins>
      <p class="hint">Администраторы пока не назначены на данной локации</p>
    </ng-template>

    <div class="admin-actions">
      <button (click)="addMode = !addMode" color="primary" mat-stroked-button>
        <mat-icon>person_add</mat-icon>
        Добавить
      </button>

      <button
        (click)="removeMode = !removeMode"
        [disabled]="!admins.length"
        color="warn"
        mat-stroked-button
      >
        <mat-icon>person_remove</mat-icon>
        Удалить
      </button>
    </div>

    <mat-form-field *ngIf="addMode" appearance="outline">
      <mat-label>Выберите пользователя</mat-label>
      <mat-select (selectionChange)="addAdmin($event.value)">
        <mat-option *ngFor="let user of usersNotAdmin" [value]="user.id">
          {{ user.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="removeMode" appearance="outline">
      <mat-label>Кого убрать из админов</mat-label>
      <mat-select (selectionChange)="removeAdmin($event.value)">
        <mat-option *ngFor="let admin of admins" [value]="admin.id">
          {{ admin.email }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </section>
</form>
