<div *ngIf="location" class="page">
  <div *ngIf="location" class="search-page">
    <h1 class="title">Поиск</h1>

    <div class="fields">
      <mat-form-field appearance="outline" class="field wide">
        <mat-label>Офис</mat-label>
        <mat-icon matPrefix>location_on</mat-icon>
        <input [value]="location.name" disabled matInput />
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Дата</mat-label>
        <mat-icon matPrefix>calendar_today</mat-icon>
        <input
          [formControl]="dateControl"
          [matDatepickerFilter]="dateFilter"
          [matDatepicker]="picker"
          matInput
        />
        <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Тип места</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <mat-select [formControl]="resourceTypeControl">
          <mat-option *ngFor="let type of resourceTypes" [value]="type">
            {{ type | resourceType }}
          </mat-option>
        </mat-select>

        <button
          (click)="resourceTypeControl.setValue(null)"
          *ngIf="resourceTypeControl.value"
          aria-label="Очистить"
          mat-icon-button
          matSuffix
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <button
      (click)="search()"
      [disabled]="dateControl.invalid"
      class="search-btn"
      color="primary"
      mat-flat-button
    >
      <mat-icon>search</mat-icon>
      Найти
    </button>
  </div>

  <bacs-search-results
    *ngIf="resources !== undefined"
    [resourceSlots]="availableSlotsByResource"
  ></bacs-search-results>
</div>
