<h2 mat-dialog-title>
  {{ isEditMode ? 'Редактирование резервации' : 'Создание резервации' }}
</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <mat-form-field appearance="fill">
    <mat-label>Локация</mat-label>
    <input formControlName="location" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Ресурс</mat-label>
    <input formControlName="resource" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <mat-label>Дата</mat-label>
    <input [matDatepicker]="picker" formControlName="date" matInput />
    <mat-datepicker-toggle [for]="picker" matSuffix />
    <mat-datepicker #picker />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Начало</mat-label>
    <mat-select formControlName="fromTime">
      <mat-option *ngFor="let time of timeSlots" [value]="time">
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Окончание</mat-label>
    <mat-select formControlName="toTime">
      <mat-option *ngFor="let time of timeSlots" [value]="time">
        {{ time }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button (click)="close()" mat-button>Отмена</button>
  <button
    (click)="confirm()"
    [disabled]="form.invalid"
    class="submit-button"
    color="primary"
    mat-flat-button
  >
    {{ isEditMode ? 'Сохранить' : 'Забронировать' }}
  </button>
</mat-dialog-actions>
