<h2 class="dialog-title" mat-dialog-title>
  {{ isEditMode ? 'Редактирование резервации' : 'Создание резервации' }}
</h2>

<mat-dialog-content [formGroup]="form" class="dialog-content">
  <div class="fields">
    <mat-form-field appearance="outline" class="field wide">
      <mat-label>Локация</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <input [disabled]="true" formControlName="location" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field wide">
      <mat-label>Ресурс</mat-label>
      <mat-icon matPrefix>event_seat</mat-icon>
      <input [disabled]="true" formControlName="resource" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline" class="field wide">
      <mat-label>Дата</mat-label>
      <mat-icon matPrefix>calendar_today</mat-icon>
      <input [matDatepicker]="picker" formControlName="date" matInput />
      <mat-datepicker-toggle [for]="picker" matSuffix />
      <mat-datepicker #picker />
    </mat-form-field>

    <div class="time-row">
      <mat-form-field appearance="outline" class="field">
        <mat-label>Начало</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <mat-select formControlName="fromTime">
          <mat-option *ngFor="let time of timeSlots" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="field">
        <mat-label>Окончание</mat-label>
        <mat-icon matPrefix>schedule</mat-icon>
        <mat-select formControlName="toTime">
          <mat-option *ngFor="let time of timeSlots" [value]="time">
            {{ time }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button (click)="close()" mat-button>Отмена</button>
  <button
    (click)="confirm()"
    [disabled]="form.invalid"
    class="submit-button"
    color="primary"
    mat-flat-button
    style="margin-left: 0;!important;"
  >
    {{ isEditMode ? 'Сохранить' : 'Забронировать' }}
  </button>
</mat-dialog-actions>
