$green-main: #284239;
$green-light: #dfe5db;
$green-secondary: #809076;
$pink-main: #d18577;
$pink-light: #f2e2df;

$text-main: #49454f;
$text-extra: #ada8b2;
$text-disabled: #9aa0a6;
$bg-disabled: #e4e6eb;
$white: #ffffff;
