<h2 mat-dialog-title>
  {{ data.mode === 'edit' ? 'Редактировать ресурс' : 'Создать ресурс' }}
</h2>

<mat-dialog-content [formGroup]="form" class="form-content">
  <bacs-image-uploader
    [src]="data.resource?.imageUrl ?? NoImage"
    (fileSelected)="onFileSelected($event)">
  </bacs-image-uploader>

  <mat-form-field>
    <mat-label>Название</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Описание</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Этаж</mat-label>
    <input matInput type="number" formControlName="floor" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Тип ресурса</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of resourceTypes" [value]="type">
        {{ type | resourceType }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="equipment-field">
    <mat-label>Оборудование</mat-label>

    <mat-chip-grid #chipGrid aria-label="Оборудование">
      <mat-chip-row
        *ngFor="let item of equipment; let i = index"
        removable
        (removed)="removeEquipment(i)"
        color="primary"
      >
        {{ item }}
        <button matChipRemove aria-label="Удалить">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>

      <input
        matInput
        placeholder="Добавить оборудование..."
        [matChipInputFor]="chipGrid"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="addEquipment($event)" />
    </mat-chip-grid>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <button
    mat-flat-button
    class="submit-button"
    color="primary"
    (click)="save()"
    [disabled]="form.invalid"
  >
    Сохранить
  </button>
</mat-dialog-actions>
