<h2 mat-dialog-title class="dialog-title">
  Удаление ресурса
</h2>

<mat-dialog-content class="dialog-content">
  <p class="dialog-message">
    Вы уверены, что хотите удалить ресурс <b>{{ data.resource.name }}</b>?
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
  <button (click)="close()" class="cancel-button" mat-button>Нет</button>
  <button
    (click)="confirm()"
    class="confirm-button"
    color="warn"
    mat-flat-button
    style="margin-left: 0;!important;"
  >
    Удалить
  </button>
</mat-dialog-actions>
