<div class="resource-card" *ngIf="resource">
  <img
    [ngSrc]="resource.imageUrl ?? NoImage"
    priority
    width="240"
    height="160"
    alt="{{ resource.name }}"
    class="resource-image"
  />

  <div class="resource-info">
    <div class="resource-header">
      <h2 class="resource-title">{{ resource.name }}</h2>

      <div class="resource-actions">
        <button
          *ngIf="editEnabled && (isAdmin(resource.locationId) | async)"
          (click)="deleteIconClick($event)"
          mat-icon-button
          matTooltip="Удалить ресурс"
        >
          <mat-icon color="warn">cancel</mat-icon>
        </button>

        <button
          *ngIf="editEnabled && isAdmin"
          (click)="editIconClick($event)"
          mat-icon-button
          matTooltip="Редактировать ресурс"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>

    <div class="resource-detail">
      <mat-icon class="icon">info</mat-icon>
      {{ resource.description || 'Описание отсутствует.' }}
    </div>

    <div class="resource-detail">
      <mat-icon class="icon">category</mat-icon>
      Тип: {{ resource.type | resourceType }}
    </div>

    <div class="resource-detail">
      <mat-icon class="icon">stairs</mat-icon>
      Этаж: {{ resource.floor }}
    </div>

    <div class="resource-detail" *ngIf="resource.equipment?.length">
      <mat-icon class="icon">build</mat-icon>
      Оборудование: {{ resource.equipment?.join(', ') }}
    </div>
  </div>
</div>
